@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif, 'montserrat';
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.idiin-menu {
    background: #0a68b1;
    position: absolute;
    padding: 5px 0px;
    top: 0px;
    left: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: fixed;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    width: 1080px;
}

.idiin-menu-1 {
    display: inline-flex;
    margin: 0px;
    align-items: center;
}

.flags {
    width: 100px;
    display: flex;
    margin-left: 60PX;
    align-items: center;
    justify-content: space-between;
}

.flags__item {
    width: 40px;
    padding: 0 0px;

}

.flags img {
    display: block;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #ffffff
}



.idiin-menu-2 {
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.idiin-logo-1 {
    width: 0;
}

.idiin-logo-2 {
    margin: 0 10px;
    margin-top: 2px;
    width: 12%;
    height: 94%;

}

.idiin-logo-3 {

    align-items: center;
    height: 100px;
    width: 240px;

}

.socials {
    display: flex;
}

.social {
    margin-left: 0px;
    height: 40px;
    width: 40px;
    border: 1px solid #0a68b1;
    border-radius: 50%;
}

.social:hover {
    background-color: #DB241b;
}

.social img {
    margin: 8px 0 0 10px;
}

.idiin-menu .navbar ul {
    margin-left: 40px;
}

.idiin-menu .navbar ul li {
    position: relative;
    float: left;
}

.idiin-menu .navbar ul li a {
    font-size: 16px;
    padding: 15px;
    color: #FFFFFF;
    display: block;
}

.idiin-menu .navbar ul li a:hover {
    color: #DB241B;
}

#idiin-fim-menu {
    display: none;
}

.idiin-menu-icono {
    width: 25px;
}

.idiin-menu label {
    cursor: pointer;
    display: none;
}


.infot {
    height: 500px;

    background: linear-gradient(to left, rgb(67, 134, 242, 0.4), rgba(255, 255, 255, 0.8));
}

.info {
    padding: 70px 0px;
    display: flex;
    align-items: center;


}

.info-img {
    width: 50%;
}

.info-img img {
    margin-left: 0px;
    border-radius: 10px;
    width: 440px;
    height: 250px;
}

.info-txt {
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 50%;
    text-align: center;
}

.info-txt h2 {
    font-size: 'montserrat';
    text-align: center;
    font-size: 38px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: rgba(59, 130, 246, 1);
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-txt p {
    font-size: 16px;
    color: #000;
    font-weight: lighter;
    margin-bottom: 50px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    text-align: justify;
}

.btn-2 {
    display: inline-block;
    padding: 10px 35px;
    border: 3px solid #DB241B;
    background-color: transparent;
    color: #000;
    font-weight: lighter;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 15px;
}

.btn-2:hover {
    background-color: #DB241B;
}

.horario {
    padding: 50px 40px;
    padding-top: 20px0px;

    background: linear-gradient(to left, rgb(67, 134, 242, 0.4), rgba(255, 255, 255, 0.8));
}

.horario-info h2 {

    font-size: 'montserrat';
    font-size: 38px;
    color: rgba(59, 130, 246, 1);
    font-weight: bolder;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;


    margin-bottom: 10px;


}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {

    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: rgba(59, 130, 246, 1);
    font-weight: bolder;
    padding-top: 15px;
    margin-bottom: 50x;
    padding-bottom: 10px;
}

.txt p {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: #000;
    font-weight: lighter;

    margin-bottom: 4px;
}


.txt1 h4 {

    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: rgba(59, 130, 246, 1);
    font-weight: bolder;
    padding-top: 15px;
    margin-bottom: 50x;
    padding-bottom: 10px;
}


.txt1 p {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: #000;

    margin-bottom: 4px;
}

.mapp {
    background: linear-gradient(to left, rgb(67, 134, 242, 0.4), rgba(255, 255, 255, 0.8));

    text-align: center;




}

.map {

    filter: invert(92%) contrast(93%);


}

.footert {


    background: linear-gradient(to left, rgb(67, 134, 242, 0.4), rgba(255, 255, 255, 0.8));

}

.footer {

    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;
    color: rgba(59, 130, 246, 1);
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.links ul li a {
    color: #000;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
    word-spacing: 0.004cap;

    display: inline-block;
}

@media(max-width: 991px) {
    .container {
        margin: 0 auto;
    }

    .idiinfim {
        height: 0px;
    }

    .idiin-menu {
        padding: 4px;
        justify-content: space-between;
        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;

    }

    .idiin-menu-icono {
        margin-top: 20px;
        margin-right: 16px;
    }

    .idiin-menu-1 {
        display: inline;
    }

    .flags {
        margin-left: 13vw;
        margin-bottom: 2vw;
    }

    .idiin-menu-2 {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .social {
        margin-left: 0px;
        height: 40px;
        width: 40px;
        border: none;
        border-radius: none;
    }

    .social img {
        padding-left: 10px;
    }




    .idiin-logo-1 {

        width: 140px;
        align-items: center;
        margin-left: 2vw;

    }

    .idiin-logo-2 {
        width: 0;

    }

    .idiin-logo-3 {
        inline-size: center;
        width: 200px;
    }


    .idiin-menu label {
        display: initial;
    }

    .idiin-menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(10, 104, 177, 1), rgba(10, 104, 177, 0.4));
        display: none;
        border-top: 2px solid #ffffff;

    }

    .idiin-menu .navbar ul li {
        width: 100%;
    }

    #idiin-fim-menu:checked~.navbar {
        display: initial;
    }

    .h1 {
        display: inline;
    }

    .infot {

        height: 700px;
    }

    .info {


        margin-top: 0px;
        padding: 40px 30px;
        padding-top: 25vw;
        flex-direction: column;
    }


    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 330px;
        height: 200px;
        margin-bottom: 0px;
        margin-top: 20px;
        border-radius: 20px;
    }

    .info-txt {
        width: 100%;
        text-align: center;

    }

    .info-txt h2 {

        font-size: 18px;

        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .info-txt p {
        text-align: justify;

        font-size: 12px;

        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .btn-1 {

        font-size: 12px;

        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .horario {
        padding: 60px 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 18px;
        line-height: 0;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .horario-info h4 {
        font-size: 14px;

        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .horario-info p {
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .map {


        border-radius: 0px;

    }
 .footer {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        text-align: center;
    }



    .idiin-logo-3 {
        display: inline;
        margin-left: 21vw;
        width: 140px;
        height: 70px;
        text-align: center;
        align-items: center;
    }

    .links {
        margin: 0px;
        margin-bottom: 0px;
    }

    .links h4 {
        font-size: 14px;
        margin: 25px 0px 10px 0px;
        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .links li {
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 1px;
        word-spacing: 0.004cap;
    }

    .inf {
        flex-direction: column;
    }
}
