* {
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    --bg-color: #ffb18c;
    --text-color: #333;
    --dark-color: #0a68b1;
}

body,
div,
ul,
li,
a,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img1/bluee.gif");
    height: 100dvh;
    background-position: center;
    background-size: cover;

}



h1 {
    display: none;
}

header {
    display: flex;
    justify-content: center;


}

.text-container {
    min-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    font-size: clamp(1rem, 8vw, 240rem);
    color: var(--text-color);
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 4vw;
    animation: aparecer-texto both;
    animation-timeline: scroll();
    animation-range-start: cover 20%;
}

.left-text {
    color: var(--dark-color);
    font-weight: 900;
    mix-blend-mode: darken;
    text-shadow:
        4px 4px 0 #000,
        /* Sombra en la parte inferior derecha */
        -4px -4px 0 #000,
        /* Sombra en la parte superior izquierda */
        -4px 4px 0 #000,
        /* Sombra en la parte inferior izquierda */
        4px -4px 0 #000;
    /* Sombra en la parte superior derecha */
}

.right-text {
    color: var(--dark-color);
    font-weight: 900;
     margin-right: 4vw;
    mix-blend-mode: darken;
    text-shadow:
        4px 4px 0 #000,
        /* Sombra en la parte inferior derecha */
        -4px -4px 0 #000,
        /* Sombra en la parte superior izquierda */
        -4px 4px 0 #000,
        /* Sombra en la parte inferior izquierda */
        4px -4px 0 #000;
    /* Sombra en la parte superior derecha */
}

.botones {
    text-align: center;

   
}

.btn-1 {
    display: inline-block;
    border: 6px solid #000000;
    background-color: #b10a0a;
    color: #ffffff;
    margin: 0;
    padding: 10px 20px;
    font-weight: lighter;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: clamp(1rem, 4vw,120rem);
}

img {
    width: clamp(1rem, 18vw,240rem);
    border-radius: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aparecer both;
    animation-timeline: scroll();
    max-height: 100vh;
    mix-blend-mode: hard-light;
}


@keyframes aparecer {
    0% {
        opacity: 0;


        translate: 0 -20%;
        scale: .7;
    }

    100% {
        opacity: 1;

        translate: 0 0;
        scale: 1;
    }

}

@keyframes aparecer-texto {
    0% {
        opacity: 0;

        translate: 0 20%;
        scale: 2;
    }

    100% {
        opacity: 1;

        translate: 0 0;
        scale: 1;
    }

}

@media screen and (max-width: 1060px) {



    img {
        display: none;
        padding: 0;
        margin: 0;
        padding: auto 0vw;
        top: 20vw;
        width: 50vw;


    }

    body {
        background-image: url("img1/fondo-cell-idiin.gif");
        --dark-color: #ffffff;
        height: 100dvh;
        background-position: center;
        background-size: cover;


    }

    .text-container {
        min-height: 100vh;
        position: fixed;
        top: 0;
        display: flex;
        font-size: clamp(1rem, 9vw, 12rem);
        color: var(--text-color);
        font-weight: 600;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 4vw;
        animation: aparecer-texto both;
        animation-timeline: scroll();
        animation-range-start: cover 20%;
    }

    .left-text {
        font-size: 2.4 rem;
        padding-left: 10vw;
        padding-top: 100vw;
        color: rgb(67, 134, 242, 1);
        text-shadow:
            3px 3px 0 #000,
            /* Sombra en la parte inferior derecha */
            -3px -3px 0 #000,
            /* Sombra en la parte superior izquierda */
            -3px 3px 0 #000,
            /* Sombra en la parte inferior izquierda */
            3px -3px 0 #000;
        /* Sombra en la parte superior derecha */
    }

    .right-text {
        font-size: 2.4rem;
        padding-right: 3vw;
        padding-top: 100vw;
        color: rgb(67, 134, 242, 1);
        text-shadow:
        3px 3px 0 #000,
        /* Sombra en la parte inferior derecha */
        -3px -3px 0 #000,
        /* Sombra en la parte superior izquierda */
        -3px 3px 0 #000,
        /* Sombra en la parte inferior izquierda */
        3px -3px 0 #000;
    /* Sombra en la parte superior derecha */
    }


    .btn-1 {
        margin-right: 2vh;
        border: 3px solid rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        font-weight: lighter;
        text-transform: uppercase;
        border-radius: 15px;
        font-size: clamp(1rem, 7vw, 2rem);
        color: var(--dark-color);
        font-weight: 900;
        mix-blend-mode: darken;
        
    }
}
