@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(to right, #00bfff, #000080);

    font-family: 'Poppins', sans-serif, 'montserrat';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #DB241B;
}

.swiper-button-prev {
    color: #DB241B;
}

.swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #DB241B;
}

.idiin-menu {
    background: linear-gradient(to top, #00bfff, #000080);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
    width: 1200px;
}

.idiin-menu-1 {
    margin-top: 10px;
    margin-right: 50px;
    align-items: center;
}

.idiin-menu-2 {
    margin-left: 420px;
    display: flex;
    align-items: center;
}

.idiin-logo-1 {
    width: 0;
}

.idiin-logo-2 {
    margin: 10px 0;
    margin-left: 0px;
    width: 140px;

}

.idiin-logo-3 {
    margin-left: 80px;
    height: 100px;
    width: 240px;

}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}

.social:hover {
    background-color: #DB241b;
}

.social img {
    margin: 8px 0 0 10px;
}

.idiin-menu .navbar ul li {
    position: relative;
    float: left;
}

.idiin-menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.idiin-menu .navbar ul li a:hover {
    color: #DB241B;
}

#idiin-fim-menu {
    display: none;
}

.idiin-menu-icono {
    width: 25px;
}

.idiin-menu label {
    cursor: pointer;
    display: none;
}



.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 50px;
    width: 50%;
}

.slider-txt h2 {
    margin-bottom: 10px;
    font-size: 'montserrat';
    text-align: center;
    font-size: 38px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 650;
}

.slider-txt p {
    margin-right: 18px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: justify;
}

.botones {
    margin-top: 50px;
    text-align: center;
}

.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    border: 3px solid #DB241B;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 950PX;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 15px;
}

.btn-1:hover {
    background-color: #DB241B;
}

.slider-img {
    width: 50%;

}

.slider-img img {
    margin-right: 225px;
    width: 540px;
     height: 280px;
    border-radius: 50px;
}

.h1 {
    display: inline;
}

.header-content {

    padding: 60px 180px;
    padding-top: 110px;
    background: linear-gradient(to bottom, #000080, #00bfff);
}

.products {

    background: linear-gradient(to top, transparent, transparent);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background ease 0.2s;

}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    border-bottom: 2px solid #DB241B;
    color: #FFFFFF;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.product {
    font-size: 'montserrat';
    display: flex;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
}

.product-img {
    width: 50%;
    text-align: center;

}

.product-img h4 {
    display: block;
    padding: 5px 7px;
    line-height: 15px;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 650;
    border: 2px solid #555555;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-img img {


    width: 150px;
    height: 100px;
    display: block;
    border: 1px solid transparent;
    border-radius: 10px;
}

.product-txt {
    width: 150px;
    margin: 0;
    margin-left: 10px;
    text-align: left;
}

.product-txt h4 {
    text-align: center;
    color: #2898ee;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 650;
    margin-bottom: 5px;
    margin-top: 0;
}

.product-txt p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 650;
    width: 100%;
}

.info {
    padding: 60px 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #000080, #00bfff);

}

.info-img {
    width: 50%;
}

.info-img img {
    margin-left: 0px;
    border-radius: 10px;
    width: 440px;
    height: 250px;
}

.info-txt {
    width: 50%;
    text-align: center;
}

.info-txt h2 {
    font-size: 'montserrat';
    text-align: center;
    font-size: 38px;
    color: #FFFFFF;
    font-weight: 650;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-txt p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: justify;
}

.btn-2 {
    display: inline-block;
    padding: 10px 35px;
    border: 3px solid #DB241B;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 950px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 15px;
}

.btn-2:hover {
    background-color: #DB241B;
}



.video-youtube {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.video-youtube h2 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 'montserrat';
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 650;
    text-transform: uppercase;
}

.video-wrapper {
    flex: 1 1 45%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.videos {
    width: 88%;
    height: 250px;
    border-radius: 20px;
}

.video {

    background: linear-gradient(to right, #000080, #00bfff);
    padding: 20px 100px;


}



.horario {
    padding: 80px 200px;

    background: linear-gradient(to bottom, #000080, #00bfff);
}

.horario-info h2 {
    font-size: 'montserrat';
    font-size: 38px;
    color: #FFFFFF;
    font-weight: 650;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 50x;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.txt1 {
    margin-top: 0px;
    color: #FFFFFF;
}

.txt1 h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.txt1 p {
    font-size: 20px;

    margin-bottom: 15px;
}


.map {
    filter: invert(92%) contrast(93%);
}

.footer {


    background: linear-gradient(to top, #000080, #00bfff);
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
}

@media(max-width: 991px) {
    .idiin-menu {
        padding: 20px;
        justify-content: space-between;
    }

    .idiin-menu-2 {
        display: none;
    }

    .idiin-logo-1 {
        margin-left: 0;
        width: 140px;
        align-items: center;

    }

    .idiin-logo-2 {
        width: 0;
    }

    .idiin-logo-3 {
        inline-size: center;
        width: 200px;
    }


    .idiin-menu label {
        display: initial;
    }

    .idiin-menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(to top, #00bfff, #000080);
        display: none;
    }

    .idiin-menu .navbar ul li {
        width: 100%;
    }

    #idiin-fim-menu:checked~.navbar {
        display: initial;
    }

    .h1 {
        display: inline;
    }

    .header-content {
        padding: 40px;
        padding-top: 30px;
        margin-top: 60px;
        border-radius: 0;
    }

    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    .slider-txt p {
        margin-left: 25px;
        text-align: justify;
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 10px;
        font-size: 10px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    .slider-img img {
        margin: 30px 0;
        margin-top: 0px;
        width: 300px;
 height: 190px;
        border-radius: 20px;
    }

    .tabs.container {
        padding-top: 50px;
        padding-bottom: 0px;


    }

    .swiper.mySwiper-2 {
        padding-top: 0px;
    }

    .tabs {
        display: flex;
        padding: 10px 10px;
        padding-top: 0px;
        justify-content: space-between;
    }


    .tabs label {
        flex: 1;
        font-size: 14px;
        text-align: center;

    }

    .product {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .product-txt {

        width: 100%;
        margin-bottom: 50px;
    }

    .product-txt h4 {
        font-size: 16px;
    }

    .product-txt p {
        font-size: 16px;
    }

    .product-txt span {
        font-size: 18px;


    }

    .product-img {
        width: 100%;
        text-align: center;
    }

    .product-img h4 {
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
    }

    .product-img img {
        display: inline-block;

        text-align: center;
        width: 240px;
        height: 140px;
        border-radius: 20px;
    }

    .info {
        padding: 50px 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 330px;
        height: 200px;
        margin-bottom: 25px;
        border-radius: 20px;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-txt p {
        text-align: justify;
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .video {
        text-align: center;

    }

    .video-wrapper {
        margin-bottom: 10px;
    }

    .video-youtube .videos {
        width: 330px;
        height: 180px;
        border-radius: 10px;
    }



    .horario {
        padding: 50px 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 42px;
        margin-bottom: 15px;
    }

    .horario-info h4 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .horario-info p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        text-align: center;
    }

    .idiin-logo-3 {
        display: inline-block;
        margin-left: 16%;
        text-align: center;
    }

    .links {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .links h4 {
        font-size: 24px;
        margin: 25px 0px 10px 0px;
    }

    .links li {
        font-size: 20pxS;
    }

    .inf {
        flex-direction: column;
    }
}
